$white-color: #fff
$black-color: #030303
$red-color: #710707
$gold-color: #9D8665
$forum-font: 'Forum', cursive
$roboto-font: 'Roboto', sans-serif
    
body
    background-color: $black-color
    margin: 0

h1, h2, h3, h4, h5, h6
    font-weight: 100

.header
    margin-bottom: 8px
    &__container
        width: 1440px
        margin: 0 auto
        display: flex
        justify-content: space-between
        height: 140px
    &__logo
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 200px
        margin-top: 5px
    &__title
        color: $white-color
        display: inline-block
        text-transform: uppercase
        letter-spacing: 5px
        font-family: $forum-font
        margin: 0 auto
        font-size: 28px
        margin: 10px 0 0 25px
    &__list
        list-style: none
        line-height: 115px
        display: flex
    &__item
        margin-left: 56px
        font-family: $roboto-font
        font-weight: 100
        font-size: 22px
        letter-spacing: 2px
    &__link
        color: $white-color
        text-decoration: none
        letter-spacing: 2px
        &:hover
            text-decoration: underline

.welcome
    color: $white-color
    &__container
        position: relative
        width: 1440px
        margin: 0 auto
        display: flex
        justify-content: space-between
        height: 810px
    &__wrapper
        display: flex
        flex-direction: column
        // justify-content: center
    &__greeting
        position: absolute
        margin-top: 150px
    &__title
        font-family: $forum-font
        font-size: 80px
        line-height: 90px
        letter-spacing: 5px
        text-transform: uppercase
        margin: 0
    &__desc
        font-family: $roboto-font
        font-weight: 300
        font-size: 28px
        letter-spacing: 2px
        margin-bottom: 75px
    &__link
        font-family: $roboto-font
        font-weight: 300
        text-decoration: none
        color: $white-color
        display: block
        width: 360px
        height: 75px
        background-color: $red-color
        text-align: center
        line-height: 73px
        border-radius: 10px
        font-size: 22px
        letter-spacing: 2px
    
    // CAROUSEL

    &__carousel
        right: 0
        text-align: center
    &__item-container
        // position: relative
        width: 100%
        overflow: hidden
    &__item
        display: none
        // position: relative
        margin: 0 auto
        
    &__item.active, &__item.next
        display: block

    &__item.next
        position: absolute
        top: 0
        width: 100%

    &__slider-desc
        display: flex
        justify-content: space-between
        // margin: 30px 20%
    
    &__controls
        position: absolute
        bottom: 0
        right: 0
        background-color: $black-color
        width: 600px
        height: 120px
        font-family: $roboto-font
        font-weight: 300
        // padding: 15px 75px 15px 75px
        display: flex
        justify-content: space-evenly
        align-items: center
    
    &__control
        display: flex
        justify-content: space-between
        width: 80px
        > div
            cursor: pointer
        

    &__placeholder-slider-pagination
        font-size: 22px
        margin: 5px 0 0 0

    &__pagination
        width: 180px
        height: 16px
        display: flex
        justify-content: space-between
        margin-left: -13px
        
    &__slider-page
        background-color: #fff
        width: 16px
        height: 16px
        &:hover
            background-color: #D2B183
        &.active
            background-color: #D2B183

.visiting
    background-color: #fff
    padding-top: 77px
    &__container
        width: 1440px
        margin: 0 auto
        height: 1190px
    &__title
        font-size: 80px
        line-height: 90px
        letter-spacing: 5px
        text-transform: uppercase
        color: $gold-color
        font-family: $forum-font
        margin: 0
        margin-bottom: 26px
    &__underline
        width: 100%
        height: 3px
        background-color: $red-color
        margin-bottom: 75px
    &__places
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__tour
        margin-bottom: 78px
    &__link
        text-decoration: none
        margin: 0
        padding: 0
        color: $black-color
        &:hover
            > div > h3
                color: $gold-color
    &__tour-title
        font-size: 32px
        font-family: $forum-font
        letter-spacing: 5px
        text-transform: uppercase
        margin: 0
        margin: 20px 0 10px 0
        transition: 0.3s all
    &__tour-underline
        width: 300px
        height: 2px
        background-color: $red-color
    &__desc
        font-family: $roboto-font
        font-size: 22px
        font-weight: 100
        margin: 0
        margin: 10px 0 0 0
    &__note
        font-family: $roboto-font
        font-size: 18px
        font-weight: 100
        margin: 0
        margin: 10px 0 0 0

.explore
    color: $white-color
    &__container
        width: 1440px
        margin: 0 auto
        display: flex
        padding-top: 76px
        height: 790px
    &__text
        display: flex
        flex-direction: column
    &__title
        font-size: 80px
        letter-spacing: 5px
        line-height: 90px
        text-transform: uppercase
        font-family: $forum-font
        margin: 0
        margin-bottom: 28px
    &__underline
        width: 660px
        height: 3px
        background-color: $red-color
        margin-bottom: 74px
    &__desc
        font-size: 22px
        font-family: $roboto-font
        line-height: 38.5px
        font-weight: 300
        width: 91%
        margin: 0
        margin-bottom: 25px
        > span
            color: $gold-color
    &__img
        margin-top: 17px
        height: 700px

.video
    background-color: #fff
    padding: 0 0 70px 0
    &__container
        width: 1440px
        margin: 0 auto
        padding-top: 75px
    &__text
        display: flex
        flex-direction: row
    &__title
        color: $gold-color
        text-transform: uppercase
        font-size: 80px
        line-height: 90px
        letter-spacing: 5px
        font-family: $forum-font
        margin: 0
        width: 50%
    &__desc
        font-family: $roboto-font
        font-weight: 300
        line-height: 38.5px
        font-size: 22px
        width: 50%
        margin: 0
        margin-top: 8px
    &__poster-div
        position: relative
    &__poster
        position: relative
        width: 100%
        margin-top: 76px
    &__play-button
        width: 220px
        position: absolute
        left: 42.2%
        top: 35.7%
        cursor: pointer
    &__controls
        width: 100%
        height: 60px
        display: flex
        justify-content: space-between
        background-color: $black-color
        padding: 13px 0px 15px 0px
        margin-top: -5px
    &__small-play-button
        margin-left: 31px
        width: 22px
        cursor: pointer
    &__range
        width: 910px
        height: 8px
        background: linear-gradient(to right, $red-color 0%, $red-color 54%, #C4C4C4 54%, #C4C4C4 100%)
        margin-top: 26px
        -webkit-appearance: none
        &::-webkit-slider-thumb
            background: #fff
            width: 16px
            height: 16px
            border-radius: 50%
            -webkit-appearance: none
            cursor: pointer
    &__volume
        width: 40px
        margin-left: 10px
        cursor: pointer
    &__volume-range
        width: 143px
        height: 8px
        background: linear-gradient(to right, $red-color 0%, $red-color 44%, #C4C4C4 44%, #C4C4C4 100%)
        margin-top: 26px
        -webkit-appearance: none
        &::-webkit-slider-thumb
            background: #fff
            width: 16px
            height: 16px
            border-radius: 50%
            -webkit-appearance: none
            cursor: pointer
    &__full-screen
        width: 36px
        margin-right: 30px
        cursor: pointer
    &__suggested
        margin-top: 38px
        display: flex
        justify-content: space-between
    &__slider
        display: flex
        justify-content: center
        margin-top: 35px
        align-items: center
    &__arrow
        margin-top: 4px
        &_left
            margin-right: 10px
        &_right
            margin-left: 10px
    &__select
        display: block
        width: 12px
        height: 12px
        background-color: #999999
        border-radius: 50%
        margin: 0 10px 0 10px
        &:hover
            background-color: #333333
        &.active
            background-color: #333333

.gallery
    &__container
        width: 1440px
        margin: 0 auto
        padding: 10px 0 0 0
    &__title
        text-transform: uppercase
        color: $white-color
        font-family: $forum-font
        font-size: 80px
        line-height: 90px
        letter-spacing: 5px
        margin-bottom: 0
        margin-bottom: 76px
    &__picture-container
        height: 1960px
        overflow-y: hidden
        position: relative
    &__inner-picture-container
        display: flex
        flex-direction: column
        flex-wrap: wrap
        height: 3000px
        gap: 23px 34px
    &__img
        width: 31.7%
        &_margin
            margin-top: 50px
    &__gradient
        width: 100%
        height: 360px
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%)
        z-index: 9
        position: absolute
        bottom: 0

.tickets
    background-color: $white-color
    &__container
        width: 1440px
        margin: 0 auto
        padding-top: 76px
        height: 800px
    &__title
        font-size: 80px
        letter-spacing: 5px
        line-height: 90px
        text-transform: uppercase
        font-family: $forum-font
        margin: 0
        margin-bottom: 24px
        color: $gold-color
    &__underline
        width: 100%
        height: 3px
        background-color: $red-color
        margin-bottom: 74px
    &__wrapper
        display: flex
        justify-content: space-between
    &__form
        display: flex
        justify-content: space-between
        font-family: $roboto-font
        font-weight: 300
        width: 45.8%
    &__type
        text-align: left
    &__type-title
        font-size: 28px
        font-weight: 500
        margin-top: 0
        margin-bottom: 45px
    &__label
        display: block
        position: relative
        margin-bottom: 25px
        cursor: pointer
        font-size: 22px
    &__radio
        // position: absolute
        // top: 0
        // left: 0
        height: 17px
        width: 17px
        background-color: #eee
        border-radius: 50%
    &__amount-title
        font-size: 28px
        font-weight: 500
        margin-top: 0
    &__num
        all: unset
        width: 3em
        text-align: center


// TOURS
.tours
    &__frame
        margin: 0
        width: 100vw
        height: 100vh